@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

:root {
    --cor1: darkseagreen;
    --cor2: #0262DB;
    --cor3: #B80AF2;
    --cor4: #DB3202;
    --cor5: #FFC703;
    --cor6: black;
    --cor7: white;
    --font-family: 'Lora', serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    padding: 10px;
    background: var(--cor7);
}

.entrada {
    box-shadow: 5px 10px;
    padding: 30px;
    text-align: center;
    background: var(--cor1);
    border: solid;
}

.entradah1 {
    font-size: 60px;
}

.topnav {
    overflow: hidden;
    background-color: var(--cor6);
    grid-auto-columns: auto;
}

.topnav a {
    float: left;
    display: block;
    color: var(--cor7);
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    border-radius: 15px;
}

.topnav a:hover {
    background-color: var(--cor7);
    color: var(--cor6);
}

.columaesquerda {
    float: left;
    width: 75%;
}


.direitacoluna {
    float: right;
    width: 25%;
    padding-left: 20px;
}

.notice {
    background-color: var(--cor7);
    padding: 20px;
    margin-top: 20px;
    font-family: var(--font-family);
}



.row::after {
    content: "";
    display: table;
    clear: both;
}





@media screen and (max-width: 800px) {

    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
}


@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

h2,
h1 {
    font-family: var(--font-family);
}

.company-details {
    overflow: hidden;
    padding: 3em 0em;
    background: #E3F0F7;
    text-align: center;
    margin-top: 5em;
}

#footer #col1,
#footer #col2,
#footer #col3 {
    float: left;
    width: 320px;
    padding: 0px 40px 0px 40px;
}

#footer #icon {
    display: block;
    margin-bottom: 1em;
    font-size: 3em;
}

.copyright {
    overflow: hidden;
    padding: 3em 0em;
    border-top: 20px solid rgba(255, 255, 255, 0.08);
    text-align: center;
    background: var(--cor1);
}

.copyright p {
    letter-spacing: 1px;
    font-size: 0.90em;
    color: rgba(255, 255, 255, 0.6);
}

.copyright a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

ul.contact {
    margin: 0;
    padding: 2em 0em 0em 0em;
    list-style: none;
}

ul.contact li {
    display: inline-block;
    padding: 0em 0.10em;
    font-size: 1em;
}

ul.contact li a {
    color: #FFF;
    display: inline-block;
    background: #4C93B9;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}