@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

:root {
    --cor1: darkseagreen;
    --cor2: #0262DB;
    --cor3: #B80AF2;
    --cor4: #DB3202;
    --cor5: #FFC703;
    --cor6: black;
    --cor7: white;
    --font-family: 'Lora', serif;
}
header {
	height: 100px;
	flex: 1 1 100vw;
}

header #logo {
	display: flex;
	flex: 0 1 200px;
	justify-content: center;
	align-items: center;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    padding: 10px;
    background: var(--cor7);
}

.entrada {
    box-shadow: 5px 10px;
    padding: 30px;
    text-align: center;
    background: var(--cor1);
    border: solid;
    text-shadow: black;
}

.entradah1 {
    font-size: 60px;
}

.topnav {
    overflow: hidden;
    background-color: var(--cor6);
    grid-auto-columns: auto;
    display: flex;
}

.topnav a {
    float: left;
    display: block;
    color: var(--cor7);
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}

.topnav a:hover {
    background-color: var(--cor7);
    color: var(--cor6);
}

.columaesquerda {
    float: left;
    width: 75%;
}


.direitacoluna {
    float: right;
    width: 25%;
    padding-left: 20px;
}

.notice {
    background-color: var(--cor7);
    padding: 20px;
    margin-top: 20px;
    font-family: var(--font-family);
}



.row::after {
    content: "";
    display: table;
    clear: both;
}





@media (max-width: 800px) {

    .columaesquerda,
    .direitacoluna,
    img,
    body,
    .footer,
    .notice,
    #col1,
    #col2,
    #col3, .carrocel {
        width: 100%;
        padding: 0;
    }
}


@media (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

h2,
h1 {
    font-family: var(--font-family);
    text-shadow: black;
}

.company-details {
    overflow: hidden;
    padding: 3em 0em;
    background: #E3F0F7;
    text-align: center;
    margin-top: 5em;
}

#footer #col1,
#footer #col2,
#footer #col3 {
    float: left;
    width: 320px;
    padding: 0px 40px 0px 40px;
    justify-content: center;
    align-items: center;

}

#footer #icon {
    display: block;
    margin-bottom: 1em;
    font-size: 3em;
}

.copyright {
    overflow: hidden;
    padding: 3em 0em;
    border-top: 20px solid rgba(255, 255, 255, 0.08);
    text-align: center;
    background: var(--cor1);
}

.copyright p {
    letter-spacing: 1px;
    font-size: 0.90em;
    color: rgba(255, 255, 255, 0.6);
}

.copyright a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

ul.contact {
    margin: 0;
    padding: 2em 0em 0em 0em;
    list-style: none;
}

ul.contact li {
    display: inline-block;
    padding: 0em 0.10em;
    font-size: 1em;
}

ul.contact li a {
    color: #FFF;
    display: inline-block;
    background: #4C93B9;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}


  #imagem{
    height: 500px;
    width: 500px;
    border: 1px solid black;
    background-image: url("imagens/fox.ico");
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: muda_imagem;
    animation-duration: 8s;
    animation-iteration-count: infinite;
  }
  @keyframes muda_imagem {
    0%{
      background-image: url("imagens/news1.webp");
    }
    33%{
      background-image: url("imagens/sports1.jpg");
    }
    66%{
      background-image: url("imagens/post1.jpg");
    }
    100%{
      background-image: url("imagens/news1.webp");
    }
  }
 
